<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.an.an_be.mapper.PlanMapper">
    <insert id="savePlan" parameterType="plan">
        INSERT INTO an_plan
         (`plan_id`, `plan_author`, `plan_title`,`plam_content`, `plan_finishTime`, `plan_createTime`, `plan_isEnd`)
         VALUES (#{planId},#{planAuthor},#{planTitle},#{planContent},#{planFinishTime},#{planCreateTime},#{planIsEnd});
    </insert>
    <select id="findAllPlan" resultType="plan">
        select * from an_plan
    </select>
</mapper>